.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: var(--background);
}

.bar {
  height: 60px;
}

.main {
  flex: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 var(--padding);
  color: var(--background-color);
}

ul.navigation {
  list-style-type: none;
  padding: 0;
}

ul.navigation li {
  display: block;
}

.startupButton {
  background-color: inherit;
  border: 0;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
