:root {
  --background: linear-gradient(to right, #2193ae, #87cf6d);
  --background-color: #fff;
  --padding: 12px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.icon {
  --size: 30px;

  width: var(--size) !important;
  height: var(--size) !important;
}
